@charset "UTF-8";

*{
    margin: 0;
    padding: 0;
}

body{
    font-family: Arial, Helvetica, sans-serif;
    background-color: rgb(207, 248, 248);
}

header{
    padding: 15px;
    text-align: center;
    background-color: cadetblue;
}

main{
    text-align: center;
}

#count-Label{
    font-size: 8em;
    text-align: center;
}

.buttons{
    padding: 10px 20px;
    font-size: 1.1em;
    color: white;
    background-color: rgb(179, 113, 240);
    border-radius: 5px;
    box-shadow: 2px 2px 4px black;
    cursor: pointer;
    transition: background-color 0.25s;
}

.buttons:hover{
    background-color: rgb(156, 66, 240);
}

.buttons:active{
    background-color: rgb(201, 160, 239);
}